/* Table view */

QTableView {
    border: none;
    border-bottom: 0.5px solid rgb(196, 196, 196);
    border-top: 0.5px solid rgb(196, 196, 196);
}

/*  view */

QHeaderView {
    border: none;
    border-bottom: 0.5px solid rgb(196, 196, 196);
}

QHeaderView::section {
    border: none;
    height: 22px;
}

